<%- include ('partials/header') %>

<div class="container">
<header class="jumbotron">
    <div class="container">
                <h1>Welcome to YelpCamp!</h1>
        <h2>View our campgrounds from all over the world!</h2>
        <p >
            <a class="btn btn-primary btn-lg" href="/campgrounds">View all campgrounds</a>
        </p>
    </div>
</header>


</div>


<%- include ('partials/footer') %>